[package]
name = "sysinfo-gui"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sysinfo = "0.23.10"
fltk = "1.3"
lazy_static = "1.4"