name: bundle

on:
  push:
    branches: [ release ]
  pull_request:
    branches: [ release ]

env:
  CARGO_TERM_COLOR: always

jobs:
  macos:
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: |
        cargo install cargo-bundle
        cargo bundle --release --features=fltk/fltk-bundled
        zip -r sysinfo-gui.app.zip target/release/bundle/osx/sysinfo-gui.app
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: sysinfo-gui-bundle
        path: sysinfo-gui.app.zip